@import '../../global/global.scss';

:host {
  display: flex;
  width: 100%;
}

.editor-panel {
  overflow: hidden;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.editor {
  height: 100%;
  overflow: auto;
}

.editor-label {
  font-family: $font-family;
  margin: 0;
  padding: 0.5rem 1rem;
}

:host(.code-nexus-dark-theme) {
  .editor-label {
    color: white;
  }
}