@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #15151f
}

.app-background {
  background: radial-gradient(circle farthest-corner at center center, #182f69 0%,#291835 40%, transparent 75%);
}

.nexus-header {
  background-color: #0A090D;
}

.mask-icon {
  mask-image: linear-gradient(to bottom,rgba(255,255,255,.9) 10%,rgba(255,255,255,.6666666667) 30%,rgba(255,255,255,0) 94%);
}

* {
  box-sizing: border-box;
}

.github-link {
  position: relative;
}

.github-link:hover::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255,0.25);
  top: 0;
  left: 0;
  border-radius: 50%;
}